$brand-color:         #094067;
$highlight:           lighten($brand-color, 35%);
$text-color:          #fffffe;
$muted-text-color:    #90b4ce;
$font-family:         "EB Garamond", Garamond, "Times New Roman", "Noto Serif TC", "PMingLiU", "SimSun", serif;
$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
